* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}
//main
#main {
  background-image: url(/task2/assets/images/back.png);
  height: 100vh;
}
.umumi {
  display: flex;
}
//mainen sonra
.container {
  display: flex;
  gap: 150px;
}
//leftside
.container-1 {
  padding-left: 198.5px;
  padding-top: 200px;
  width: 450px;
}
.h1 {
  margin-bottom: 36px;
}
.p1 {
  margin-bottom: 36px;
}
.button {
  height: 40px;
  width: 150px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  font-weight: 700;
}
// rightside teref
.conatiner-2 {
  padding-top: 112px;
  padding-left: 100px;
}
.h2 {
  margin-bottom: 16px;
}
.container-2-1 {
  padding-bottom: 50px;
}
.p2 {
  margin-bottom: 16px;
  width: 130px;
}
//responsive
@media screen and (max-width: 800px) {
  #main {
    background-image: url(/task2/assets/images/backgroundresponsive.png);
    height: 350vh;
    background-size: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-1 {
    padding-left: 30px;
    text-align: center;
  }
  .conatiner-2 {
    padding-top: 112px;
    padding-left: 150px;
  }
}
